body {
    color: #333;
    background-color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.custom-navbar {
    padding: 1rem 0;
    font-size: 1.25rem;

  }

.custom-navbar .nav-link {
    padding: 0.75rem 1rem;
}

.carousel-image {
    max-height: 500px;
    width: auto;
    object-fit: cover;
}

.content {
    margin-left: 10vw;
    margin-right: 10vw;
}

.content h1 {
    text-align: center;
}
.content h4 {
    text-align: center;
    margin: 10px;
}

.content p {
    text-indent: 40px;
    font-size: 18px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

.logo {
    height: 150px;
    width: auto;
    margin: 20px 80px 20px 80px;
    color: blue
}

.logo:hover {
    height: 165px;
    width: auto;
    transition: all .4s ease;
}

.education {
    vertical-align: baseline;
}

.uva-logo {
    height: 165px;
    width: auto;
}

.class {
    font-size: 20px;
    font-weight: bold;
}

.main-hr {
    margin-top: 100px;
}

.sub-hr {
    margin-right: 30%;
    margin-left: 30%;
}

.clean-href {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
